//CORES
$corPrincipal: hsl(145, 35%, 55%);
$corTextoPrincipal: #000000;
$corTextoSecundaria: #c0df14;
$corDeFundo: rgb(6, 131, 120);


//Fontes
$fontePadrao: Roboto, sans-serif;

//Sombreamento
$sombraTexto: 2px 2px 2px #333;